<div ng-controller="ChatCtrl">
  <div class="jumbotron" >
    <div ng-repeat="message in messages">
      {{message.user}} - {{message.text}}
    </div>
  </div>

    <div class="row marketing">
      <div class="input-group">
        <input type="text" class="form-control" ng-model="currentText">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button" ng-click="sendMessage()">Send</button>
        </span>
      </div>
    </div>
</div>

