<div class="jumbotron" ng-controller="LoginCtrl">
  <h2>Login</h2>

  <div class="alert alert-danger" data-ng-repeat="error in errors">
    {{error}}
  </div>

  <div class="form-group">
    <label>Email Address</label>
    <input type="email"
           class="form-control"
           placeholder="Enter email" ng-model="user.email">
  </div>
  <div class="form-group">
    <label>Password</label>
    <input type="password"
           class="form-control"
           placeholder="Password" ng-model="user.password">
  </div>
  <button type="text" class="btn btn-primary" data-ng-click="login()">Login</button>
  <a data-ng-href="#/register" class="btn btn-success">Sign Up</a>
</div>
