<div>
  <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal">New Message</button>
  <br><br>
</div>


<table class="table">
  <tr>
    <th>User</th>
    <th>Text</th>
    <th>Action</th>
  </tr>
  <tr ng-repeat="message in messages">
    <td > {{ message.user }} </td>
    <td>  {{ message.text }} </td>
    <td>
      <button type="button" class="btn btn-danger" ng-click="getTagetMsg(message)"
              data-value="message" data-toggle="modal" data-target="#myDeleteModal">Delete</button>
      <button type="button" class="btn btn-success" ng-click="getTagetMsg(message)" data-value="message"
              data-toggle="modal" data-target="#myUpdateModal">Update</button>
    </td>
  </tr>
</table>

<!-- Navigation Button -->
<div class="row">
  <div class="col-md-2 col-xs-2">
    <button type="button" class="btn btn-success" ng-click="pageBack()" ng-disabled="isBackDisabled">Back</button>
  </div>
  <div class="col-md-8 col-xs-8">Page {{currentPage}}/{{totalPage}}</div>
  <div class="col-md-2 col-xs-2">
    <button type="button" class="btn btn-success" ng-click="pageNext()" ng-disabled="isNextDisabled" >Next</button>
  </div>

</div>

  <!-- New Message Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Add New Message</h4>
        </div>
        <div class="modal-body">
          <label for="User">User</label>
          <input type="text" class="form-control" id="User" ng-model="currentUser" >
          <label for="Text">Text</label>
          <input type="text" class="form-control" id="Text" ng-model="currentText" >
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-success" ng-click="addNewMessage()" data-dismiss="modal">Create</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>

  <!-- Update Message Modal -->
  <div class="modal fade" id="myUpdateModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Update Message</h4>
        </div>
        <div class="modal-body">
          <label for="userdata">User</label>
          <input type="text" class="form-control" id="userdata" ng-model="targetMsg.user" value="" >
          <label for="textdata">Text</label>
          Text <input type="text" class="form-control" id="textdata" ng-model="targetMsg.text" >
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-success" ng-click="saveMessage()" data-dismiss="modal">Update</button>
          <button type="button" class="btn btn-default" ng-click="cancelUpdate()" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>

<!-- Delete Confirm Modal -->
<div class="modal fade" id="myDeleteModal" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Delete Confirmation</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure to delete this message?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" ng-click="removeMessage()" data-dismiss="modal">Delete</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
