<div class="jumbotron" ng-controller="RegisterCtrl">
  <h2>Register</h2>

  <div class="alert alert-danger" data-ng-repeat="error in errors">
    {{error}}
  </div>

  <div class="form-group">
    <label>Email Address</label>
    <input type="email" class="form-control"
           ng-model="registeredUser.email"
           placeholder="Enter email">
  </div>
  <div class="form-group">
    <label>Password</label>
    <input type="password" class="form-control"
           ng-model="registeredUser.password"
           placeholder="Password">
  </div>
  <div class="form-group">
    <label>Confirm Password</label>
    <input type="password" class="form-control"
           placeholder="Password"
           ng-model="registeredUser.confirmPassword">
  </div>
  <button type="text" class="btn btn-success" data-ng-click="register()">Sign Up</button>
</div>
